@*@{ Layout = "~/Views/Shared/_lightLayout.cshtml"; }*@
@model BCMWeb.Models.LoginModel

<script type="text/javascript">
    function OnClick(s, e) {
        if ($("#editForm").valid() && $("#IsValid").val() == 'true') {
            lp.Show();
        };
    }
</script>

<div class="login">
    <div class="accountHeader">
        <h2>@Resources.LoginResource.accountHeader</h2>
        <p>
            @Resources.LoginResource.loginTextoLinea1
        </p>
        <p style="color:red">@ViewBag.ErrorMessage</p>
    </div>
    @using (Html.BeginForm("Login","Account", FormMethod.Post, htmlAttributes: new { id = "editForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("IsValid", ViewData.ModelState.IsValid.ToString().ToLower())

        @Html.DevExpress().TextBoxFor(m => m.UserName, tb =>
        {
            tb.Width = Unit.Percentage(100);
            tb.Properties.Caption = Resources.LoginResource.captionUsername;
            tb.Properties.CaptionSettings.Position = EditorCaptionPosition.Top;
            tb.ShowModelErrors = true;
            tb.Properties.HelpText = Resources.LoginResource.helpTextEmail;
            tb.Properties.HelpTextSettings.Position = HelpTextPosition.Bottom;
            tb.Properties.ValidationSettings.Display = Display.Dynamic;
            tb.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
        }).GetHtml()

        @Html.DevExpress().TextBoxFor(m => m.Password, tb =>
        {
            tb.Width = Unit.Percentage(100);
            tb.ShowModelErrors = true;
            tb.Properties.Caption = Resources.LoginResource.captionPassword;
            tb.Properties.HelpText = Resources.LoginResource.helpTextPassword;
            tb.Properties.HelpTextSettings.Position = HelpTextPosition.Bottom;
            tb.Properties.Password = true;
            tb.Properties.CaptionSettings.Position = EditorCaptionPosition.Top;
            tb.Properties.ValidationSettings.Display = Display.Dynamic;
            tb.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
        }).GetHtml()

        <br />
        <div class="right">
            @Html.DevExpress().Button(b =>
       {
           b.Name = "botLogin";
           b.Text = Resources.LoginResource.botLoginText;
           b.ClientSideEvents.Click = "OnClick";
           b.UseSubmitBehavior = true;
       }).GetHtml()
        </div>
    }
</div>