@*@{ Layout = "~/Views/Shared/_lightLayout.cshtml"; }*@
@model BCMWeb.Models.LoginModel

<script type="text/javascript">
    function OnClick(s, e) {
        if ($("#editForm").valid()) {
            lp.Hide();
        }
        // if ($("#editForm").valid())
        //lp.Show();
        //var isValid = ASPxClientEdit.AreEditorsValid();
        //alert(isValid);
        //e.processOnServer=isValid;
        //if(!isValid) {
        //    lp.Hide();
        //}
    }
</script>

<div class="login">
    <div class="accountHeader">
        <h2>@Resources.LoginResource.accountHeader</h2>
        <p>
            @Resources.LoginResource.loginTextoLinea1
        </p>
        <p style="color:red">@ViewBag.ErrorMessage</p>
    </div>
    @using (Html.BeginForm("Login","Account", FormMethod.Post, htmlAttributes: new { id = "editForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("IsValid", ViewContext.ViewData.ModelState.IsValid)

        @Html.DevExpress().TextBoxFor(m => m.UserName, tb =>
        {
            tb.Width = Unit.Percentage(100);
            tb.Properties.Caption = Resources.LoginResource.captionUsername;
            tb.Properties.CaptionSettings.Position = EditorCaptionPosition.Top;
            tb.ShowModelErrors = true;
            tb.Properties.ValidationSettings.Display = Display.Dynamic;
            tb.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.Text;
            tb.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
        }).GetHtml()

        @Html.DevExpress().TextBoxFor(m => m.Password, tb =>
        {
            tb.Width = Unit.Percentage(100);
            tb.Properties.Caption = Resources.LoginResource.captionPassword;
            tb.Properties.Password = true;
            tb.Properties.CaptionSettings.Position = EditorCaptionPosition.Top;
            tb.ShowModelErrors = true;
            tb.Properties.ValidationSettings.Display = Display.Dynamic;
            tb.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.Text;
            tb.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
        }).GetHtml()

        <br />
        <div class="right">
            @Html.DevExpress().Button(b =>
       {
           b.Name = "botLogin";
           b.Text = Resources.LoginResource.botLoginText;
           b.ClientSideEvents.Click = "OnClick";
           b.UseSubmitBehavior = true;
       }).GetHtml()
        </div>
    }
</div>